html {
  color: #111;
  line-height: 1.1em;
  font-size: 1.25em;
  font-family: "Times New Roman", Arial, sans-serif;
  background-color: #2CDB65;
  padding-left: 0.1875em;
}

header {
  color: #092;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  box-sizing: border-box;
  background-color: #202020;
  padding: 1em;
  text-align: center;
  width: auto;
}

h1 {
  font-size: 6.2em;
  text-align: center;
  line-height: 1.2;
  font-family: 'Teko', sans-serif;
  color: #EDF5E1;
}

.car {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

ul {
	padding: 0em;
	margin: 0em;
	list-style-type: none;
}
.nav {
  font-family: Hamlet, "Times New Roman", sans-serif;
  background-color: #05386B;
  padding: 0.5em;
  text-align: center;
  display: none;
}

.nav li {
  box-shadow: inset 0 0 0 0 #2CDB65;
  color: #2CDB65;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  display: inline;
  justify-content: space-evenly;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.25em;
}

.nav li a {
  color: #EDF5E1;
  text-decoration: none;
}

.nav li:hover {
  box-shadow: inset 90px 0 0 0 #2CDB65;
  list-style-type: none;
}

body {
  
}

.nav-toggle {
	font-size: 2em;
	background-color: transparent;
	border: none;
	position: fixed;
	top: 7px;
	right: 10px;
}

.nav-toggle:hover {
	color: red;
}