html {
  color: #111;
  background: #FFF;
  line-height: 1.1em;
  font-size: 1.25em;
  font-family: "Times New Roman", Arial, sans-serif;
  background-color: #D3D3D3;
  padding-left: 0.1875em;
}

header {
  color: #092;
  font-size: 1.5em;
  /*padding-bottom: 0.5em;*/
  box-sizing: border-box;
  background-color: #111;
  padding: 1em;
  text-align: center;
  width: auto;
}

.nav {
  font-family: Hamlet, "Times New Roman", sans-serif;
  text-align: center;
  /*padding-bottom: 1em;
  padding: 0.5em;*/
  background-color: #F5F5EE;
  display: flex;
  justify-content: space-around;
  list-style-type: disc;
  list-style-position: inside;
}

.nav li {
  display: inline;
  text-align: center;
  padding: 0.4em;
}

.nav li:hover {
  background-color: #092;
}

body {
  
}
