html {
  color: #111;
  background: #FFF;
  line-height: 1.1em;
  font-size: 1.25em;
  font-family: "Times New Roman", Arial, sans-serif;
  background-color: #F5F5DC;
  padding-left: 0.1875em;
}

body {
  background-color: #D3D3D3;
}
